<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <p>{{- site.description | escape -}}</p>
      </div>
      <div class="col-xs-12 col-md-4">
        {%- include social.html -%}
      </div>
    </div>
    <div class="copyright">
      &copy; {{ site.data.strings.copyright }} | <a href="{{ "/privacy-policy" | relative_url }}">{{ site.data.strings.privacy_policy }}</a> | <a href="{{ "/terms-and-conditions" | relative_url }}">{{ site.data.strings.terms_conditions }}</a>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% if page.layout == 'members' %}
  {% include members-scripts.html %}
{% endif %}