<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="footer-heading"><img src="{{ "/assets/img/gndem_globe.svg" | relative_url }}" alt="{{ site.abbr }}" title="{{ site.abbr }}" class="globe-logo" />{{ site.title | escape }}</h2>
      </div>
      <div class="col-xs-12 col-md-9">
        <p>{{ site.data.strings.footer_desc }}</p>
      </div>
      <div class="col-xs-12 col-md-3 footer-contact">
        <h4 class="subheading">Contact Us</h4>
        {%- include social.html -%}
      </div>
    </div>
    <div class="copyright">
      &copy; {{ site.data.strings.copyright }} | <a href="{{ "/privacy-policy" | relative_url }}">{{ site.data.strings.privacy_policy }}</a> | <a href="{{ "/terms-and-conditions" | relative_url }}">{{ site.data.strings.terms_conditions }}</a>
    </div>
  </div>
</footer>
{% include gdpr-notification-bar.html %}

<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>

{% if page.layout == 'members' %}
  {% include members-scripts.html %}
{% endif %}