<div class="language-selection">
	{% assign active_lang_string = site.data.menus.languages | where: "identifier", site.active_lang | first %}
	{{ active_lang_string.title }}
	<ul class="language-menu">
	{% for item in site.menus.languages %}
		{% if item.identifier == site.active_lang %}
			{% assign itemClass = ' active-item' %}
		{% else %}
			{% assign itemClass = '' %}
		{% endif %}
		{% if item.identifier == 'en' %}
			{% assign itemURL = site.baseurl | append: page.url %}
		{% else %}
			{% assign itemURL = site.baseurl | append: item.url | append: page.url %}
		{% endif %}

	  <li class="menu-item{{ itemClass }}">
	    <a href=" {{ itemURL }}" title="Go to {{ item.title }}">{{ item.title }}</a>
	  </li>
	{% endfor %}
	</ul>
</div>