---
layout: sidebar
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h3>{{ site.data.strings.regional_networks }}</h3>
  <ul>
  {% for member in site.data.regional_networks %}
    <li>{{ member.name }}</li>
  {% endfor %}
  </ul>

  <h3>{{ site.data.strings.members }}</h3>
  <table id="members_table">
  	<thead>
  		<tr>
  			<th>{{ site.data.strings.country }}</th>
  			<th>{{ site.data.strings.organization_name }}</th>
  			<th>{{ site.data.strings.organization_acronym }}</th>
  			<th>{{ site.data.strings.website }}</th>
  		</tr>
  	</thead>
  	<tbody>
  		{% for member in site.data.gndem_members %}
  		<tr>
  			<td>{{ member.country }}</td>
  			<td>{{ member.name }}</td>
  			<td>{{ member.acronym }}</td>
  			<td>{{ member.website }}</td>
  		</tr>
  		{% endfor %}
  	</tbody>
  	<tfoot>
  		<td colspan="4">Country</td>
  	</tfoot>
  </table>
</div>
