<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content wrapper" aria-label="Content">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          {{ content }}
        </div>
        <aside class="col-xs-12 col-md-4 sidebar">
          <div class="sidebar-declaration">
            <h2 class="subheading">Declaration of Global Principles</h2>
            <p>The Declaration of Global Principles for Nonpartisan Election Observation and Monitoring by Citizen Organizations provides a set of standards for self-awareness and accountability among nonpartisan election monitoring organizations.</p>
            <a href="{{ "/declaration-of-global-principles" | relative_url }}">Read the Declaration</a>
          </div>
          <div class="sidebar-members">
            <h2 class="subheading">{{ site.data.strings.membership_block_title }}</h2>
            <p>{{ site.data.strings.membership_block_desc }}</p>
            <a href="{{ "/members" | relative_url }}">{{ site.data.strings.view_members }}</a><br />
            <a href="{{ "/join" | relative_url }}">{{ site.data.strings.register_members }}</a>
          </div>
        </aside>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
