/*==============================
=            Header            =
==============================*/
.site-header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background-color: $red;
	padding: 1rem 0;

	.wrapper {
		display: flex;
	}

	.site-title {
		font-family: $font__merriweather;
		@include fontSize(24px);
		color: $yellow;
	}
}

.site-nav {

	@include breakpoint("medium") {
		flex: 1 1 auto;
	}

	.nav-trigger {
		display: none;
	}

	.nav-trigger-label {

		@include breakpoint("medium") {
			display: none;
		}
	}

	ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		justify-content: flex-end;
		text-transform: uppercase;
	}

	li {
		
	}

	a {
		display: block;
		padding: 0.5rem 1rem;
		color: $light-red;

		&:hover {
			background-color: $dark-red;
			color: $yellow;
		}
	}

}