/*==============================
=            Header            =
==============================*/
.site-header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	height: $size__header-height;
	padding: 1rem 0 0;
	background-color: $white;

	.logo-container {
		margin-bottom: 1rem;
	}

	.site-logo {
		max-width: 50px;
		height: auto;
	}

	.site-title {
		margin-bottom: 0.5rem;
		font-family: $font__merriweather;
		@include fontSize(60px);
		line-height: 1;
		color: $red;
	}

	.site-subtitle {
		margin-left: 55px;
		@include fontSize(13px);
	    line-height: 1.5;
	    color: $dark-gray;
	}
}

.site-nav {
	position: relative;
	background-color: $off-white;
	@include fullWidthBackground($off-white);

	@include breakpoint("medium") {
		flex: 1 1 auto;
	}

	.nav-trigger {
		display: none;
	}

	.nav-trigger-label {

		@include breakpoint("medium") {
			display: none;
		}
	}

	.main-menu {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;
		text-transform: uppercase;

		a {
			display: block;
			padding: 0.5rem 2rem 0.5rem 0;
			color: $dark-gray;

			&:hover {
				color: $dark-red;
			}
		}
	}

}