html {
}

body {
}

.page-content {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.wrapper {
	padding: 0 1rem;

	@include breakpoint("medium") {
		max-width: $size__content-width;
		margin-left: auto;
		margin-right: auto;
	}
}

@import "header";
@import "page";
@import "footer";