/*===========================
=            Page           =
===========================*/

.declaration-pdf {
	margin-bottom: 1rem;
}

#members_table_length,
#members_table_filter {
	margin-bottom: 2rem;
}

#members_table {
	margin-bottom: 2rem;

	thead {
		th {
			text-align: left;
			padding: 8px 10px;
		}
	}

	tr.even {
		background-color: $off-white;
	}
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: $off-white !important;
	border: 0 !important;
	border-radius: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: $red !important;
	border: 0 !important;
	border-radius: 0 !important;
}