/*=============================
=            Posts            =
=============================*/
.post {

	.post-list & {
		margin-bottom: 3rem;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid $light-gray;

		.home & {
			margin-bottom: 2rem;
			padding-bottom: 0.5rem;
		}
	}

	&-title {
		color: $black;
		margin-bottom: 0.5rem;

		a {
			color: $black;

			&:hover {
				color: $dark-red;
			}
		}

		&::after {
			content: "";
			display: block;
			width: 20%;
			height: 3px;
			margin-top: 0.75rem;
			background-color: $yellow;
			transition: width .3s ease-in-out;

			&:hover {
				width: 100%;
			}
		}
	}

	&-meta {
		@extend %meta;
		margin-bottom: 0.25rem;
	}

	.post-feature-img {

		.post-list & {
			float: left;
			max-width: 30%;
			height: auto;
			margin: 0 1.5rem 0.25rem 0;
			border: 1px solid $light-gray;
		}
	}
}

