/*=============================
=            Posts            =
=============================*/
.post {
	&-title {
		color: $red;

		a {
			color: $red;

			&:hover {
				color: $dark-red;
				@include box-shadow(0,-2px,0,0, $yellow, true);
			}
		}
	}
}

