/*========================================
=            Custom Variables            =
========================================*/

/*----------  Colors  ----------*/
$black: #000;
$dark-gray: #333;
$white: #fff;
$off-white: #f1f1f1;
$light-red: #fee;
$red: #A10000;
$dark-red: #800101;
$yellow: #F2C600;
$cream: #FAF7EB;

$font__merriweather: 'Merriweather', serif;
$font__open-sans: 'Open Sans', sans-serif;

$size__content-width: 1000px;