/*========================================
=            Custom Variables            =
========================================*/

/*----------  Colors  ----------*/
$black: #000;
$dark-gray: #333;
$white: #fff;
$off-white: #f1f1f1;
$red: #A10000;
$yellow: #F2C600;
$cream: #FAF7EB;

$size__content-width: 1000px;